div.layout {
  text-align: center;
  margin-top: 40px;
}

div.centre {
  text-align: center;
  width: 200px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

button {
    height: 70px;
    width: 70px;
}